<img class="footer_logo" src="img/logo/logo.png">
<div class="software_info">
  <div class="software_name">
    Speedtest
  </div>
  <div class="software_author">
    Maxime Moreillon
  </div>
</div>
